* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Common */
.em3 {
    font-size: 3em;
}

.em-p {
    font-size: 1.2em;
}

/* / Common */

#header-top {
    height: 35px;
    background-color: black;
}

.logo-sony img {
    width:100%;
}

.logo-sony  {
    width:80px;
}


#search-btn {
    font-size: 20px;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position-x: center;
    background-position-y: top;
    background-size:auto;
    height: 60vh;
    background-repeat: no-repeat;
    background-color: black;
}

#jumbo-logo img {
    width: 100%;
}

#game-card img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    filter: opacity(70%);
}

#game-card-active img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 0 5px white, 0 0 0 10px #4799dc;
}

#game-card img:hover {
    transform: translateY(-15px);
    filter: none;
    cursor: pointer;
    
}




/* Debug */

.debug .logo-sony {
    background-color: aqua;
}

.debug #jumbotron {
    background-color: lightcoral;
}

.debug #jumbo-logo {
    height: 100px;
    background-color: lightgreen;
}

.debug #jumbo-text {
    height: 200px;
    background-color: lightgrey;
}

.debug #game-slider {
    background-color: lightseagreen;
}

.debug #game-card {
    height: 200px;
    background-color: lightsalmon;
    border: 1px solid black;
}

.debug #ps5 {
    height: 400px;
    background-color: lightgreen;
}

.debug #ps5-info {
    height: 500px;
    background-color: lightpink;
}

.debug #ps5-image {
    height: 500px;
    background-color: lightskyblue;
}
